<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/form.css">
    <link rel="stylesheet" href="/static/forms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="header">
                <img id="icon" src="/static/icon.png" alt="icon" onclick="window.location.href='{{ url_for('index') }}'">
                <h1>Add Recipe</h1>
            </div>
        </header>

        <form id="recipe-form" action="{{ action }}" method="post">

            {%- if refresh_warning -%}
            <p class="warning">Refreshing the page will regenerate the ChatGPT response. This might take a while...</p>
            {%- endif -%}

            <div class="form-field">
                <label>Name:</label>
                <input type="text" name="name" placeholder="Enter recipe name" value="{{ recipe.get('name') or '' }}" required>
            </div>

            <div class="form-field">
                <label>URL:</label>
                <input type="text" name="url" placeholder="Enter recipe URL" value="{{ recipe.get('url') or '' }}">
            </div>

            <div class="form-field">
                <label>Time (minutes):</label>
                <input type="number" name="time" placeholder="Enter time in minutes" value="{{ recipe.get('time') or '' }}">
            </div>

            <div class="form-field">
                <label>People:</label>
                <input type="number" name="people" placeholder="Enter number of people" value="{{ recipe.get('people') or '' }}">
            </div>

            <div id="ingredientsContainer" class="form-field">
                <div class="ingredient-header">
                    <label>Ingredients:</label>
                    <span id="addIngredient" class="round-button"><i class="fas fa-plus"></i></span>
                </div>
                <div id="ingredientRows" class="sortable-list">
                    {%- for ingredient in recipe.get('ingredients', []) + [{}] -%}
                    <div class="ingredient-row">
                        <input type="text" class="amount" name="ingredient-amount" placeholder="Amount" value="{{ ingredient.get('amount') or '' }}">
                        <input type="text" class="ingredient" name="ingredient-type" placeholder="Ingredient" value="{{ ingredient.get('ingredient') or '' }}">
                        <span class="round-button remove-row"><i class="fas fa-minus"></i></span>
                    </div>
                    {%- endfor -%}
                </div>
            </div>

            <div id="preparationContainer" class="form-field">
                <div class="preparation-header">
                    <label>Preparation:</label>
                    <span id="addStep" class="round-button"><i class="fas fa-plus"></i></span>
                </div>
                <div id="preparationRows" class="sortable-list">
                    {%- for step in (recipe.get('preparation') or []) + [''] -%}
                    <div class="preparation-row">
                        <textarea class="step" name="preparation" placeholder="Step">{{ step }}</textarea>
                        <span class="round-button remove-row"><i class="fas fa-minus"></i></span>
                    </div>
                    {%- endfor -%}
                </div>
            </div>

            <div class="form-field">
                <label>Remarks:</label>
                <textarea class="remarks" name="remarks" placeholder="Remarks">{{ recipe.get("remarks", "") }}</textarea>
            </div>

            <div id="nutritionContainer" class="form-field">
                <div class="nutrition-header">
                    <label>Nutrition:</label>
                    <span id="addGroup" class="round-button"><i class="fas fa-plus"></i></span>
                </div>
                <div id="nutritionRows" class="sortable-list">
                    {%- for group in (recipe.get('nutrition') or []) + [{}] -%}
                    <div class="nutrition-row">
                        <input type="text" class="amount" name="nutrition-amount" placeholder="Amount" value="{{ group.get('amount', '') or '' }}">
                        <input type="text" class="group" name="nutrition-group" placeholder="Group" value="{{ group.get('group', '') }}">
                        <span class="round-button remove-row"><i class="fas fa-minus"></i></span>
                    </div>
                    {%- endfor -%}
                </div>
            </div>

            <div class="form-field">
                <label>Tags:</label>
                <input type="text" name="tag" placeholder="Tag 1" value="{{ recipe.get('tags', [])[0] }}">
            </div>
            <div class="form-field">
                <input type="text" name="tag" placeholder="Tag 2" value="{{ recipe.get('tags', [])[1] }}">
            </div>
            <div class="form-field">
                <input type="text" name="tag" placeholder="Tag 3" value="{{ recipe.get('tags', [])[2] }}">
            </div>
            <div class="form-field">
                <input type="text" name="tag" placeholder="Tag 4" value="{{ recipe.get('tags', [])[3] }}">
            </div>
            <div class="form-field">
                <input type="text" name="tag" placeholder="Tag 5" value="{{ recipe.get('tags', [])[4] }}">
            </div>

            <div class="form-field">
                <label>Thumbnail:</label>
                <input type="text" id="thumbnailField" name="thumbnail" placeholder="Enter thumbnail url" value="{{ recipe.get('thumbnail') or '' }}">
                <div class="thumbnail-container">
                    {%- if not recipe.get('thumbnail') -%}
                        <img style="display: none" id="thumbnailPreview" src="" alt="" onerror="$('#thumbnailError').show();">
                    {%- else -%}
                        <img id="thumbnailPreview" src="{{ recipe.get('thumbnail') or '' }}" alt="" onerror="$('#thumbnailError').show();">
                    {%- endif -%}
                    <p style="display: none" id="thumbnailLoading">Loading thumbnail...</p>
                    <p style="display: none" id="thumbnailError" class="warning">Failed to load thumbnail, please check URL</p>
                </div>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="/static/form.js"></script>
</body>

</html>
