{% set english = True %}

{% extends "base.html" %}

{% block head %}
    <title>Add Recipe</title>
    <link rel="stylesheet" href="/static/form.css">
    <link rel="stylesheet" href="/static/forms.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
{% endblock head %}

{% block body %}
    <div class="container">
        <header>
            <div class="header">
                <img id="icon" src="/static/icon.png" alt="icon" onclick="window.location.href='{{ url_for('collection', collection=collection) }}'">
                <h1>Add Recipe</h1>
            </div>
        </header>

        <form id="recipe-form" action="{{ action }}" method="post">

            {%- if refresh_warning -%}
            <p class="warning">Refreshing the page will regenerate the ChatGPT response. This might take a while...</p>
            {%- endif -%}

            <div class="form-field">
                <label>Name:</label>
                <input id="recipe-name" type="text" name="name" placeholder="Enter recipe name" value="{{ recipe.get('name') or '' }}" required>
            </div>

            <div class="form-field">
                <label>URL:</label>
                <input type="text" name="url" placeholder="Enter recipe URL" value="{{ recipe.get('url') or '' }}">
            </div>

            <div class="form-field">
                <label>Time (minutes):</label>
                <input type="number" name="time" placeholder="Enter time in minutes" value="{{ recipe.get('time') or '' }}">
            </div>

            <div class="form-field">
                <label>People:</label>
                <input type="number" name="people" placeholder="Enter number of people" value="{{ recipe.get('people') or '' }}">
            </div>

            <div id="ingredientsContainer" class="form-field multi-row">
                <div class="ingredient-header">
                    <label>Ingredients:</label>
                    <span class="add-ingredient round-button"><i class="fas fa-plus"></i></span>
                </div>
                <div id="ingredientRows" class="sortable-list">
                    {%- for ingredient in recipe.get('ingredients', []) + [{}] -%}
                    <div class="ingredient-row">
                        <span class="handle"><i class="fas fa-grip-lines"></i></span>
                        <input type="text" class="amount" name="ingredient-amount" placeholder="Amount" value="{{ ingredient.get('amount') or '' }}">
                        <input type="text" class="ingredient" name="ingredient-type" placeholder="Ingredient" value="{{ ingredient.get('ingredient') or '' }}">
                        <div class="remove-row-container">
                            <span class="round-button remove-row"><i class="fas fa-minus"></i></span>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
                <div class="ingredient-footer">
                    <span class="add-ingredient round-button"><i class="fas fa-plus"></i></span>
                </div>
            </div>

            <div id="preparationContainer" class="form-field multi-row">
                <div class="preparation-header">
                    <label>Preparation:</label>
                    <span class="add-step round-button"><i class="fas fa-plus"></i></span>
                </div>
                <div id="preparationRows" class="sortable-list">
                    {%- for step in (recipe.get('preparation') or []) + [''] -%}
                    <div class="preparation-row">
                        <span class="handle"><i class="fas fa-grip-lines"></i></span>
                        <textarea class="step" name="preparation" placeholder="Step">{{ step }}</textarea>
                        <div class="remove-row-container">
                            <span class="round-button remove-row"><i class="fas fa-minus"></i></span>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
                <div class="preparation-footer">
                    <span class="add-step round-button"><i class="fas fa-plus"></i></span>
                </div>
            </div>

            <div class="form-field">
                <label>Remarks:</label>
                <textarea class="remarks" name="remarks" placeholder="Remarks">{{ recipe.get("remarks") or "" }}</textarea>
            </div>

            <div id="nutritionContainer" class="form-field multi-row">
                <div class="nutrition-header">
                    <label>Nutrition:</label>
                    <span class="add-group round-button"><i class="fas fa-plus"></i></span>
                </div>
                <div id="nutritionRows" class="sortable-list">
                    {%- for group in (recipe.get('nutrition') or []) + [{}] -%}
                    <div class="nutrition-row">
                        <span class="handle"><i class="fas fa-grip-lines"></i></span>
                        <input type="text" class="amount" name="nutrition-amount" placeholder="Amount" value="{{ group.get('amount') or '' }}">
                        <input type="text" class="group" name="nutrition-group" placeholder="Group" value="{{ group.get('group') or '' }}">
                        <div class="remove-row-container">
                            <span class="round-button remove-row"><i class="fas fa-minus"></i></span>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
                <div class="nutrition-footer">
                    <span class="add-group round-button"><i class="fas fa-plus"></i></span>
                </div>
            </div>

            {%- set meta = recipe.get("meta", {}) -%}
            <div class="form-field form-field-local">
                <label>Language</label>
                <select name="language">
                    {%- if not meta.get("language") -%}
                    <option selected value=""></option>
                    {%- else -%}
                    <option value=""></option>
                    {%- endif -%}
                    {%- for option, name in LANGUAGES.items() -%}
                    {%- if meta.get("language") == option -%}
                        <option selected value="{{ option }}">{{ name }}</option>
                    {%- else -%}
                        <option value="{{ option }}">{{ name }}</option>
                    {%- endif -%}
                    {%- endfor -%}
                </select>
            </div>
            <div class="form-field form-field-local">
                <label>Meal type</label>
                <select name="meal_type">
                    {%- for meal_type in MEAL_TYPES -%}
                    {%- if meal_type == meta.get("meal_type", "other") -%}
                        <option selected value="{{ meal_type }}">{{ meal_type|capitalize }}</option>
                    {%- else -%}
                        <option value="{{ meal_type }}">{{ meal_type|capitalize }}</option>
                    {%- endif -%}
                    {%- endfor -%}
                </select>
            </div>
            <div class="form-field form-field-local">
                <label>Cuisine</label>
                <select name="cuisine">
                    {%- for cuisine in CUISINE_TYPES -%}
                    {%- if cuisine == meta.get("cuisine", "other") -%}
                        <option selected value="{{ cuisine }}">{{ cuisine|capitalize }}</option>
                    {%- else -%}
                        <option value="{{ cuisine }}">{{ cuisine|capitalize }}</option>
                    {%- endif -%}
                    {%- endfor -%}
                </select>
            </div>
            <div class="form-field form-field-local">
                <label>Meat type</label>
                <div class="double-select">
                    <select name="meat_type">
                        {%- for meat in MEAT_TYPES -%}
                        {%- if meat == meta.get("meat_type", ["other"])[0] -%}
                            <option selected value="{{ meat }}">{{ meat|capitalize }}</option>
                        {%- else -%}
                            <option value="{{ meat }}">{{ meat|capitalize }}</option>
                        {%- endif -%}
                        {%- endfor -%}
                    </select>
                    <select name="meat_type">
                        <option selected value=""></option>
                        {%- for meat in MEAT_TYPES -%}
                            {%- if meat != 'other'-%}
                                {%- if meat == meta.get("meat_type", ["other", None])[1] -%}
                                    <option selected value="{{ meat }}">{{ meat|capitalize }}</option>
                                {%- else -%}
                                    <option value="{{ meat }}">{{ meat|capitalize }}</option>
                                {%- endif -%}
                            {%- endif -%}
                        {%- endfor -%}
                    </select>
                </div>
            </div>
            <div class="form-field form-field-local">
                <label>Carb type</label>
                <div class="double-select">
                    <select name="carb_type">
                        {%- for carb in CARB_TYPES -%}
                        {%- if carb == meta.get("carb_type", ["other"])[0] -%}
                            <option selected value="{{ carb }}">{{ carb|capitalize }}</option>
                        {%- else -%}
                            <option value="{{ carb }}">{{ carb|capitalize }}</option>
                        {%- endif -%}
                        {%- endfor -%}
                    </select>
                    <select name="carb_type">
                        <option selected value=""></option>
                        {%- for carb in CARB_TYPES -%}
                            {%- if carb != 'other' and carb != 'none' -%}
                                {%- if carb == meta.get("carb_types", ["other", None])[1] -%}
                                    <option selected value="{{ carb }}">{{ carb|capitalize }}</option>
                                {%- else -%}
                                    <option value="{{ carb }}">{{ carb|capitalize }}</option>
                                {%- endif -%}
                            {%- endif -%}
                        {%- endfor -%}
                    </select>
                </div>
            </div>
            <div class="form-field form-field-local">
                <label>Temperature</label>
                <select name="temperature">
                    {%- for temp in TEMPERATURE_TYPES -%}
                        {%- if temp == meta.get("temperature", "any") -%}
                            <option selected value="{{ temp }}">{{ temp|capitalize }}</option>
                        {%- else -%}
                            <option value="{{ temp }}">{{ temp|capitalize }}</option>
                        {%- endif -%}
                    {%- endfor -%}
                </select>
            </div>

            <div class="form-field">
                <label>Thumbnail:</label>
                <div class="thumbnail-input-row">
                    <input type="text" id="thumbnailField" name="thumbnail" placeholder="Enter thumbnail url" value="{{ recipe.get('thumbnail') or '' }}">
                    <input type="file" accept="image/*" id="image-upload-input" style="display: none">
                    <span class="round-button" id="image-upload"><i class="fas fa-upload"></i></span>
                </div>
                <div class="thumbnail-container">
                    {%- if not recipe.get('thumbnail') -%}
                        <img style="display: none" id="thumbnailPreview" src="" alt="" onerror="$('#thumbnailError').show();">
                    {%- else -%}
                        <img id="thumbnailPreview" src="{{ recipe.get('thumbnail') or '' }}" alt="" onerror="$('#thumbnailError').show();">
                    {%- endif -%}
                    <p style="display: none" id="thumbnailLoading">Loading thumbnail...</p>
                    <p style="display: none" id="thumbnailError" class="warning">Failed to load thumbnail, please check URL</p>
                </div>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="/static/form.js"></script>
{% endblock body %}
