{% set english = True %}

{% extends "base.html" %}

{% block head %}
    <title>Add Recipe</title>
    <link rel="stylesheet" href="/static/add.css">
    <link rel="stylesheet" href="/static/spinner.css">
    <link rel="stylesheet" href="/static/forms.css">
{% endblock head %}

{% block body %}
    <div class="add-container">
        <div class="add-box">
            <h1>Add via URL</h1>
            <form action="{{ url_for('add_recipe_url', collection=collection) }}" method="post">
                <input type="url" name="url" placeholder="URL" {% if error is not none %}class="error"{% endif %} required>
                <button id="submit" type="submit">Add</button>
                <div id="spinner" class="lds-dual-ring"></div>
            </form>
        </div>
    </div>
    <script src="/static/spinner.js"></script>
{% endblock body %}

</html>
