<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="/static/spaghet.png">
    <title>About</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/recipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/static/base.js"></script>
    <style>
        p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <div class="recipe-details">
        <header>
            <div class="header">
                <img id="icon" src="/static/icon.png" alt="icon" onclick="window.location.href='{{ url_for('index') }}'">
                <h1>About</h1>
            </div>
        </header>
        <h2>About me</h2>
        <p>
            Welcome to my personal cookbook! My name is Dennis Hilhorst and I set this project up so I can easily
            track, save and edit recipes that I like. I have kept expanding on it, and perhaps it is even useful
            to others! The recipes on the main page are recipes that I made together with my girlfriend Merel or friends.
            There is another "collection" of recipes that I have not made yet, but which looked good and which I intend
            to make at some point. You can find these through the buttons on the main page.
        </p>
        <p>
            If you wish to contact me, please do so via the GitHub repository, or via chef(at)dennishilhorst.nl.
        </p>
        <h2>To-do</h2>
        <ul>
            <li>AH Winkelmand API?</li>
            <li>Improve tag info (recipe language, meal type, kitchen type, beef/pork/chicken/vegetarian, potatoes/rice/pasta/etc., ...)</li>
        </ul>
        <h2>Other stuff</h2>
        <ul>
            <li>The ImGur album used to store custom images is found <a href="https://imgur.com/a/{{ album }}" target="_blank">here</a></li>
            <li>The GitHub repo with the code is found <a href="https://github.com/DenSinH/master-chef" target="_blank">here</a></li>
            <li>The GitHub repo with the recipes is found <a href="https://github.com/DenSinH/master-chef-recipes" target="_blank">here</a></li>
        </ul>
        <h2>Disclaimer</h2>
        <p>
            Most recipes featured on this website are sourced from various creators,
            and I do not own them. This platform is intended for personal, non-commercial use only.
            I provide direct links to the original sources for each recipe to give proper credit to the talented individuals
            who developed them.
        </p>
        <p>
            No endorsement or affiliation is implied, and the inclusion of recipes here is solely for
            inspiration and enjoyment. If you are a recipe creator and wish for proper attribution or removal,
            please contact me. Additionally, please note that the images on this website
            (excluding those in the ImGur album) are not owned by me.
            I appreciate your understanding and hope you enjoy exploring these delicious culinary creations.
        </p>
    </div>
</body>

</html>
