{% set english = True %}

{% extends "base.html" %}

{% block head %}
    <meta property="og:image" itemprop="image primaryImageOfPage" content="/static/spaghet.png">
    <title>About</title>
    <link rel="stylesheet" href="/static/recipe.css">
    <style>
        p {
            text-align: justify;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="recipe-details">
        <header>
            <div class="header">
                {{ clickable_icon() }}
                <h1>About</h1>
            </div>
        </header>
        <p>Click the logo to return to the cookbook!</p>
        <h2>About me</h2>
        <p>
            Welcome to my personal cookbook! My name is Dennis Hilhorst and I set this project up so I can easily
            track, save and edit recipes that I like. I have kept expanding on it, and perhaps it is even useful
            to others! The recipes on the main page are recipes that I made together with my girlfriend Merel or friends.
            There is another "collection" of recipes that I have not made yet, but which looked good and which I intend
            to make at some point. You can find these through the buttons on the main page.
        </p>
        <p>
            If you wish to contact me, please do so via the GitHub repository, or via chef(at)dennishilhorst.nl.
        </p>
        <h2>To-do</h2>
        <ul>
            <li>AH Winkelmand API?</li>
        </ul>
        <h2>Other stuff</h2>
        <ul>
            <li>I host the images on my own CDN at <a href="https://cdn.dennishilhorst.nl" target="_blank">cdn.dennishilhorst.nl</a> (it may not be reachable directly through this link)</li>
            <li>The GitHub repo with the code is found <a href="https://github.com/DenSinH/master-chef" target="_blank">here</a></li>
            <li>The GitHub repo with the recipes is found <a href="https://github.com/DenSinH/master-chef-recipes" target="_blank">here</a></li>
        </ul>
        <h2>Disclaimer</h2>
        <p>
            Most recipes featured on this website are sourced from various creators,
            and I do not own them. This platform is intended for personal, non-commercial use only.
            I provide direct links to the original sources for each recipe to give proper credit to the talented individuals
            who developed them.
        </p>
        <p>
            No endorsement or affiliation is implied, and the inclusion of recipes here is solely for
            inspiration and enjoyment. If you are a recipe creator and wish for proper attribution or removal,
            please contact me. Additionally, please note that some images on this website
            (those that are <i>not</i> on my CDN) are not owned by me.
            I appreciate your understanding and hope you enjoy exploring these delicious culinary creations.
        </p>
    </div>
{% endblock body %}
