<!DOCTYPE html>

<html lang="{{ 'en' if english else 'nl' }}">

{% macro clickable_icon(col=None) %}
  {% if col is none %}
    {% set _target = url_for('index') %}
  {% else %}
    {% set _target = url_for('collection', collection=col) %}
  {% endif %}
  <a href="{{ _target }}">
    <img id="icon" src="/static/icon-min.png" alt="icon">
  </a>
{% endmacro %}

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PM28WPZ914"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PM28WPZ914');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal cookbook website, used for saving, editing and sharing websites. By Dennis Hilhorst.">
    <meta name="author" content="Dennis Hilhorst">
    <meta name="keywords" content="Personal cookbook, Persoonlijk kookboek, Recipes, Recepten">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></noscript>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="/static/base.js"></script>

    {% block head %}

    {% endblock head %}
</head>

<body>
  {% block body %}

  {% endblock body %}
</body>

</html>
