<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Website</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/cookbook.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div class="header">
            <img id="icon" src="/static/icon.png" alt="icon">
            <h1>Merel's Kitchen</h1>
        </div>
        <div class="buttons">
            <a href="{{ url_for('add_recipe_url_form') }}" class="round-button"><i class="fas fa-code"></i></a>
            <a href="{{ url_for('add_recipe_text_form') }}" class="round-button"><i class="fas fa-clipboard-list"></i></a>
            <a href="{{ url_for('add_recipe_form_form') }}" class="round-button"><i class="fas fa-edit"></i></a>
        </div>
    </header>

    <div class="search-bar-container">
        <input type="text" id="searchBar" placeholder="Search recipes">
    </div>

    <div class="recipe-list">
        {%- for recipe_id, recipe in recipes.items() -%}
        <a href="{{ url_for('recipe', id=recipe_id) }}" class="recipe-item" style="display: none" data-tags="vegetarian quick-easy">
            <div class="thumbnail-wrapper">
                <img src="{{ recipe['thumbnail'] or '/static/placeholder.jpg' }}" onerror="this.onerror=null; this.src='/static/placeholder.jpg'" alt="Recipe 1">
            </div>
            <h2>{{ recipe["name"].title() }}</h2>
            {%- if recipe["tags"] is defined and recipe["tags"]|length > 0 -%}
            <div class="tags">
                {%- for tag in recipe["tags"] -%}
                <span class="tag">{{ tag }}</span>
                {%- endfor -%}
            </div>
            {%- endif -%}
            <div class="recipe-info">
                <p><i class="fas fa-clock"></i> <span class="info-item">30 minutes</span></p>
                <p><i class="fas fa-users"></i> <span class="info-item">Serves 4</span></p>
            </div>
        </a>
        {% endfor %}
    </div>

    <script>
        const pageSize = 20;
        var numPages = 1;
        var searching = false;

        function showPages(doHide) {
            if (doHide) {
                $(".recipe-item").hide();
            }
            if (searching) {
                $(".recipe-item.search-result").slice(0, numPages * pageSize).show();
            }
            else {
                $(".recipe-item").slice(0, numPages * pageSize).show();
            }
        }

        $(document).ready(function () {
            // recipe-items are hidden by default
            showPages(false);

            const searchBar = $('#searchBar');
            const recipeItems = $('.recipe-item');

            searchBar.on('input', function () {
                const searchTerm = $(this).val().toLowerCase();
                numPages = 1;

                if (searchTerm) {
                    searching = true;
                    recipeItems.each(function () {
                        const item = $(this);
                        const itemTags = item.attr('data-tags').toLowerCase();
                        const itemTitle = item.find('h2').text().toLowerCase();

                        if (itemTags.includes(searchTerm) || itemTitle.includes(searchTerm)) {
                            item.addClass("search-result");
                        } else {
                            item.removeClass("search-result");
                        }
                    });
                    showPages(true);
                }
                else {
                    searching = false;
                    recipeItems.removeClass('search-result');
                    showPages(true);
                }
            });
        });

        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                let recipeItems;
                if (searching) {
                    recipeItems = $(".recipe-item.search-result");
                }
                else {
                    recipeItems = $(".recipe-item");
                }
                if (numPages * pageSize < recipeItems.length) {
                    numPages++;
                    showPages(false);
                }
            }
        });
    </script>
</body>

</html>
