{% set english = True %}
{% from "tags.html" import tags %}

{% extends "base.html" %}

{% block head %}
    <title>Cookbook</title>
    <meta name="description" content="Personal cookbook website, used for saving, editing and sharing websites. By Dennis Hilhorst.">
    <link rel="stylesheet" href="/static/cookbook.css">
    <link rel="stylesheet" href="/static/dropdown.css">
    <link rel="stylesheet" href="/static/messages.css">
    {% include "tags.html" %}

    <link rel="stylesheet" href="/static/tags.css">
    {%- if is_user or is_admin -%}
    <link rel="stylesheet" href="/static/likes.css">
    {%- endif -%}
    <script src="/static/dropdown.js" defer></script>
    <script src="/static/messages.js"></script>
{% endblock head %}

{% block body %}
    <header>
        <div class="header">
            <img id="icon" src="/static/icon.png" alt="icon" {% if collection != 'recipes' %}onclick="window.location.href='{{ url_for('index') }}'" {% endif %}>
            <h1 class="{{ collection }}">{{ title }}</h1>
        </div>
        <div class="all-buttons">
            <div class="buttons">
                <a href="{{ url_for('about') }}" class="round-button"><i class="fas fa-info"></i></a>
                {%- if collection == 'unmade' -%}
                <a href="{{ url_for('collection', collection='recipes') }}" class="round-button"><i class="fas fa-utensils"></i></a>
                {%- else -%}
                <a href="{{ url_for('collection', collection='unmade') }}" class="round-button"><i class="fas fa-utensils"></i></a>
                {%- endif -%}
                {%- if recipes|length -%}
                <span onclick="random_recipe()" class="round-button"><i class="fas fa-random"></i></span>
                {%- endif -%}
                {%- if is_user -%}
                <span onclick="toggleOnlySaved()" class="round-button"><i class="fas fa-heart"></i></span>
                {%- endif -%}
                {%- if not is_admin and not is_user -%}
                <a href="{{ url_for('login_form', redirect=url_for('collection', collection=collection)) }}" class="round-button"><i class="fas fa-sign-in-alt"></i></a>
                {%- else -%}
                <a href="{{ url_for('logout') }}" class="round-button"><i class="fas fa-sign-out-alt"></i></a>
                {%- endif -%}
            </div>
        </div>
    </header>

    {%- if is_admin -%}
    <div class="admin-buttons">
        <a href="{{ url_for('manage', table_name='users') }}" class="round-button admin">
            <i class="fas fa-users"></i>
            {%- if unverified_users -%}
            <span class="notify-bubble">{{ unverified_users }}</span>
            {%- endif -%}
        </a>
        <a href="{{ url_for('manage', table_name='comments') }}" class="round-button admin">
            <i class="fas fa-comments"></i>
        </a>
        <a href="{{ url_for('usage') }}" class="round-button admin"><i class="fas fa-chart-bar"></i></a>
        <a href="{{ url_for('add_recipe_url_form', collection=collection) }}" class="round-button admin"><i class="fas fa-link"></i></a>
        <a href="{{ url_for('add_recipe_text_form', collection=collection) }}" class="round-button admin"><i class="fas fa-align-left"></i></a>
        <a href="{{ url_for('add_recipe_form_form', collection=collection) }}" class="round-button admin"><i class="fas fa-edit"></i></a>
    </div>
    {%- endif -%}

    <main>
    <div class="search-bar-container">
        <input type="search" id="searchBar" placeholder="Search {{ recipes|length }} recipes">
        <div class="dropdown-container">
            <div class="dropdown-toggle click-dropdown">
                Last Updated
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><span class="dropdown-item" onclick="sortBy('name', 1)">Name Ascending</span></li>
                    <li><span class="dropdown-item" onclick="sortBy('name', -1)">Name Descending</span></li>
                    <li><span class="dropdown-item" onclick="sortBy('updated', -1)">Last Updated</span></li>
                    <li><span class="dropdown-item" onclick="sortBy('created', 1)">Oldest</span></li>
                    <li><span class="dropdown-item" onclick="sortBy('created', -1)">Newest</span></li>
                </ul>
            </div>
        </div>
    </div>

    {% include "messages.html" %}

    <div class="recipe-list">
        {%- for recipe_id, recipe in recipes.items() -%}
        <a
                href="{{ url_for('recipe', id=recipe_id, collection=collection) }}"
                class="recipe-item recipe-container unselectable"
                style="display: none"
                data-name="{{ recipe.name.lower() }}"
                data-created="{{ recipe.date_created }}"
                data-updated="{{ recipe.date_updated }}"
                id="recipe{{ recipe_id }}"
        >
            <div class="thumbnail-wrapper">
                <img src="{{ recipe.thumbnail or '/static/spaghet.png' }}" onerror="this.onerror=null; this.src='/static/spaghet.png'" alt="Recipe 1" loading="lazy">
            </div>
            {% if is_user or is_admin %}
            <div class="save-icon hidden" onclick="toggleSave(event, '{{ collection }}', '{{ recipe_id }}')">
                <i class="far fa-heart"></i>
                <i class="fas fa-heart"></i>
            </div>
            {% endif %}
            <h2 class="searchable {{ collection }}">{{ recipe.name|capwords }}</h2>

            {%- set meta = recipe.meta -%}
            {{ tags(meta) }}

            <div class="recipe-info">
                {%- set recipe_views = viewcount.get(recipe_id) -%}
                {%- if recipe_views is not none -%}
                <p><i class="fas fa-eye"></i> <span class="info-item">{{ recipe_views }} {{ 'views' if recipe_views != 1 else 'view' }}</span></p>
                {%- endif -%}
                {%- if recipe.time is not none -%}
                <p><i class="fas fa-clock"></i> <span class="info-item">{{ recipe.time }} minutes</span></p>
                {%- endif -%}
                {%- if recipe.people is not none -%}
                <p><i class="fas fa-users"></i> <span class="info-item">Serves {{ recipe.people }}</span></p>
                {%- endif -%}
            </div>

            {%- if recipe.ingredients|length > 0 -%}
            <span class="hidden searchable">
                {%- for ingredient in recipe.ingredients -%}
                {{ ingredient.ingredient|lower }}
                {% endfor %}
            </span>
            {%- endif -%}
        </a>
        {% endfor %}
    </div>

    <script src="/static/cookbook.js"></script>
    {% if is_user or is_admin %}
    <script src="/static/likes.js"></script>
    <script>getSaved('{{ collection }}');</script>
    {% endif %}
    </main>
{% endblock body %}
