<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/cookbook.css">
    <link rel="stylesheet" href="/static/dropdown.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/dropdown.js" defer></script>
</head>

<body>
    <header>
        <div class="header">
            <img id="icon" src="/static/icon.png" alt="icon" {% if collection != 'recipes' %}onclick="window.location.href='{{ url_for('index') }}'" {% endif %}>
            <h1 class="{{ collection }}">Merel's Kitchen</h1>
        </div>
        <div class="buttons">
            {%- if authenticated -%}
            <a href="{{ url_for('usage') }}" class="round-button admin"><i class="fas fa-chart-bar"></i></a>
            <a href="{{ url_for('add_recipe_url_form', collection=collection) }}" class="round-button admin"><i class="fas fa-code"></i></a>
            <a href="{{ url_for('add_recipe_text_form', collection=collection) }}" class="round-button admin"><i class="fas fa-clipboard-list"></i></a>
            <a href="{{ url_for('add_recipe_form_form', collection=collection) }}" class="round-button admin"><i class="fas fa-edit"></i></a>
            {%- else -%}
            <a href="{{ url_for('login_form', redirect=url_for('collection', collection=collection)) }}" class="round-button"><i class="fas fa-sign-in-alt"></i></a>
            {%- endif -%}
            {%- if collection == 'unmade' -%}
            <a href="{{ url_for('collection', collection='recipes') }}" class="round-button"><i class="fas fa-utensils"></i></a>
            {%- else -%}
            <a href="{{ url_for('collection', collection='unmade') }}" class="round-button"><i class="fas fa-question"></i></a>
            {%- endif -%}
        </div>
    </header>

    <div class="search-bar-container">
        <input type="text" id="searchBar" placeholder="Search {{ recipes|length }} recipes">
        <div class="dropdown-container">
            <div class="dropdown-toggle click-dropdown">
                Last Updated
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><span class="dropdown-item" onclick="sortBy('name', 1)">Name Ascending</span></li>
                    <li><span class="dropdown-item" onclick="sortBy('name', -1)">Name Descending</span></li>
                    <li><span class="dropdown-item" onclick="sortBy('updated', -1)">Last Updated</span></li>
                    <li><span class="dropdown-item" onclick="sortBy('created', 1)">Oldest</span></li>
                    <li><span class="dropdown-item" onclick="sortBy('created', -1)">Newest</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="recipe-list">
        {%- for recipe_id, recipe in recipes.items() -%}
        <a
                href="{{ url_for('recipe', id=recipe_id, collection=collection) }}"
                class="recipe-item"
                style="display: none"
                data-name="{{ recipe.get('name', '').lower() }}"
                data-created="{{ recipe.get('date_created', 0) }}"
                data-updated="{{ recipe.get('date_updated', 0) }}"
        >
            <div class="thumbnail-wrapper">
                <img src="{{ recipe['thumbnail'] or '/static/spaghet.png' }}" onerror="this.onerror=null; this.src='/static/spaghet.png'" alt="Recipe 1" loading="lazy">
            </div>
            <h2 class="searchable {{ collection }}">{{ recipe["name"].title() }}</h2>
            {%- if recipe["tags"] is defined and recipe["tags"]|length > 0 -%}
            <div class="tags">
                {%- for tag in recipe["tags"] -%}
                <span class="tag searchable">{{ tag|lower }}</span>
                {%- endfor -%}
            </div>
            {%- endif -%}
            <div class="recipe-info">
                {%- if recipe.get("time") is not none -%}
                <p><i class="fas fa-clock"></i> <span class="info-item">{{ recipe["time"] }} minutes</span></p>
                {%- endif -%}
                {%- if recipe.get("people") is not none -%}
                <p><i class="fas fa-users"></i> <span class="info-item">Serves {{ recipe["people"] }}</span></p>
                {%- endif -%}
            </div>

            {%- if recipe["ingredients"] is defined and recipe["ingredients"]|length > 0 -%}
            <span class="hidden advanced-searchable">
                {%- for ingredient in recipe["ingredients"] -%}
                {{ ingredient["ingredient"]|lower }}
                {% endfor %}
            </span>
            {%- endif -%}
        </a>
        {% endfor %}
    </div>

    <script src="/static/cookbook.js"></script>
</body>

</html>
