{% set english = True %}

{%- set meta = recipe.get("meta", {}) -%}
{%- set english = meta.get("language", "en") == "en" -%}

{% extends "base.html" %}

{% block head %}
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{{ recipe['thumbnail'] or '/static/spaghet.png' }}">
    <title>{{ recipe["name"].title() }}</title>
    <link rel="stylesheet" href="/static/recipe.css">

    <script src="/static/recipe.js"></script>
    <script>
        function delete_recipe() {
            if (confirm("Are you sure you want to delete this recipe?")) {
                $.post("{{ url_for('delete_recipe', id=recipe_id, collection=collection) }}", function() {
                  window.location.href = "{{ url_for('collection', collection=collection) }}";
                })
                .fail(function(resp) {
                    if (resp.status === 401) {
                        // unauthorized, redirect to login page
                        window.location.href = "{{ url_for('login_form', redirect='recipe') }}";
                    }
                    else {
                        show_popup("Failed to delete recipe");
                    }
                });
            }
        }

        function make_recipe() {
            if (confirm("Are you sure you want to move this recipe?")) {
                $.post("{{ url_for('move_recipe', id=recipe_id, collectionfrom=collection, collectionto='recipes') }}", function(data) {
                  window.location.href = data.redirect;
                })
                .fail(function(resp) {
                    if (resp.status === 401) {
                        // unauthorized, redirect to login page
                        window.location.href = "{{ url_for('login_form', redirect='recipe') }}";
                    }
                    else {
                        show_popup("Failed to move recipe");
                    }
                });
            }
        }
    </script>
{% endblock head %}

{% block body %}
    <div class="recipe-details">
        <header>
            <div class="header">
                <img id="icon" src="/static/icon.png" alt="icon" onclick="window.location.href='{{ url_for('collection', collection=collection) }}'">
                <h1 class="{{ collection }}">{{ recipe["name"].title() }}</h1>
            </div>
            <div class="buttons">
                {%- if is_admin -%}
                    {%- if collection == 'unmade' -%}
                        <a onclick="make_recipe()" class="round-button admin"><i class="fas fa-exchange-alt"></i></a>
                    {%- endif -%}
                    <a href="{{ url_for('update_recipe_form', id=recipe_id, collection=collection) }}" class="round-button admin"><i class="fas fa-edit"></i></a>
                    <a onclick="delete_recipe()" class="round-button admin"><i class="fas fa-trash"></i></a>
                {%- elif not is_user -%}
                <a href="{{ url_for('login_form', redirect='recipe') }}" class="round-button"><i class="fas fa-sign-in-alt"></i></a>
                {%- endif -%}
                {%- if is_admin or is_user -%}
                <a href="{{ url_for('logout') }}" class="round-button"><i class="fas fa-sign-out-alt"></i></a>
                {%- endif -%}
                <a onclick="share_recipe()" class="round-button"><i class="fas fa-share"></i></a>
            </div>
        </header>
        <img src="{{ recipe['thumbnail'] or '/static/spaghet.png' }}" onerror="this.onerror=null; this.src='/static/spaghet.png'" alt="Preview">

        {%- if recipe.get("url") is not none -%}
        <div class="recipe-info">
            <a class="original-url" href="{{ recipe['url'] }}" target="_blank">{{ 'original recipe' if english else 'origineel recept' }}</a>
        </div>
        {%- endif -%}

        <div class="recipe-info">
            <div class="recipe-info-detail">
                <i class="fas fa-eye"></i> <span class="info-item">{{ viewcount }}
                {% if english -%}
                    {{ 'views' if viewcount != 1 else 'view' }}
                {%- else -%}
                    keer bekeken
                {%- endif -%}
            </span>
            </div>
            {%- if recipe.get("time") is not none -%}
            <div class="recipe-info-detail">
                <i class="fas fa-clock"></i> <span class="info-item">{{ recipe["time"] }} {{ 'minutes' if english else 'minuten' }}</span>
            </div>
            {%- endif -%}
            {%- if recipe.get("people") is not none -%}
            <div class="recipe-info-detail">
                <i class="fas fa-users"></i> <span class="info-item">{{ recipe["people"] }} {{ 'servings' if english else 'porties' }} </span>
            </div>
            {%- endif -%}
        </div>
        <div class="recipe-info">
            {%- if recipe.get("date_created") is not none -%}
            <div class="recipe-info-detail">
                <i class="fas fa-calendar-plus"></i> <span class="info-item">{{ 'Added' if english else 'Toegevoegd' }} {{ recipe["date_created"]|strftimestamp }}</span>
            </div>
            {%- endif -%}
            {%- if recipe.get("date_updated") is not none -%}
            <div class="recipe-info-detail">
                <i class="fas fa-calendar-check"></i> <span class="info-item">{{ 'Updated' if english else 'Geüpdatet' }} {{ recipe["date_updated"]|strftimestamp }}</span>
            </div>
            {%- endif -%}
        </div>
        <h2>{{ 'Ingredients' if english else 'Ingrediënten'}} </h2>
        {%- if recipe.get("people") is not none -%}
        <div class="ingredient-conversion">
            <div class="people">
                <div id="people-amount" data-base="{{ recipe['people'] }}">
                    {{ recipe['people'] }}
                </div>
                <div class="people-text">{{ 'People' if english else 'Personen' }}</div></div>
            <div class="buttons">
                <div id="decr-people" class="round-button"><i class="fas fa-minus"></i></div>
                <div id="incr-people" class="round-button"><i class="fas fa-plus"></i></div>
            </div>
        </div>
        {%- endif -%}
        <div class="ingredients-wrapper">
            <table class="ingredients">
                {%- for ingredient in recipe["ingredients"] -%}
                <tr class="ingredient">
                    <td class="ingredient-amount" data-base="{{ (ingredient['amount'] or '&nbsp')|capitalize|safe }}">
                        {{ (ingredient["amount"] or "&nbsp")|capitalize|safe }}
                    </td>
                    <td>{{ ingredient["ingredient"]|capitalize }}</td>
                </tr>
                {%- endfor -%}
            </table>
        </div>

        <h2>{{ 'Instructions' if english else 'Instructies' }}</h2>
        <ol class="instructions">
            {%- for step in recipe["preparation"] -%}
            <li>{{ step }}</li>
            {%- endfor -%}
        </ol>

        {%- if recipe.get("remarks") is not none -%}
        {%- if recipe["remarks"].strip() -%}
        <h2>{{ 'Remarks' if english else 'Opmerkingen' }}</h2>
        <p class="remarks">
            {{ recipe["remarks"]|capitalize }}
        </p>
        {%- endif -%}
        {%- endif -%}

        {%- if recipe.get("nutrition") is not none -%}
        <h2>{{ 'Nutrition' if english else 'Voedingswaarden' }}</h2>
        <table class="nutrition">
            {%- for group in recipe["nutrition"] -%}
            <tr><td>{{ group["group"]|capitalize }}</td><td>{{ group["amount"] }}</td></tr>
            {%- endfor -%}
        </table>
        {%- endif -%}

        <h2>{{ 'Reviews' if english else 'Beoordelingen' }}</h2>
        {%- if is_user -%}
        <div class="review">
            <p class="user-reviewer-name reviewer-name">Your Review:</p>
            <div id="errors"></div>
            {% set user_rating = user_comment.rating if user_comment is not none else 0 %}
            {% set user_review = user_comment.text if user_comment is not none else '' %}
            <div class="user-review">
                <div class="user-review-content">
                    <div id="userRating" class="star-rating" data-rating="{{ user_rating }}" data-last-rating="{{ user_rating }}">
                        {% for i in range(user_rating) %}
                        <span class="selected">&#9733;</span>
                        {% endfor %}
                        {% for i in range(5 - user_rating) %}
                        <span>&#9733;</span>
                        {% endfor %}
                    </div>
                    <div class="editable-review"
                         contenteditable="true"
                         id="userReview"
                         role="textbox"
                         aria-multiline="true"
                         placeholder="Write your review here..."
                         data-last-review="{{ user_review }}"
                    >
                        {{- user_review -}}
                    </div>
                </div>
                <div class="user-review-controls">
                    <span onclick="submitReview()" class="round-button"><i class="fas fa-comment"></i></span>
                    <span onclick="deleteReview()" class="round-button"><i class="fas fa-trash"></i></span>
                </div>
            </div>
        </div>
        {%- endif -%}

        {% for comment, user in comments_users %}
        <div class="review">
            {% if found_admin_comment and loop.index0 == 0 %}
            <p class="reviewer-name admin">{{ user.username }} (Owner)</p>
            {% else %}
            <p class="reviewer-name">{{ user.username if user.verified else 'Unverified User' }}</p>
            {% endif %}
            {% if comment.date_edited is not none %}
            <p class="review-date">Edited {{ comment.date_edited.strftime('%Y-%m-%d %H:%M') }}</p>
            {% else %}
            <p class="review-date">{{ comment.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
            {% endif %}
            <p class="star-rating">
                {% for i in range(comment.rating) %}
                <span class="selected">&#9733;</span>
                {% endfor %}
                {% for i in range(5 - comment.rating) %}
                <span>&#9733;</span>
                {% endfor %}
            </p>
            {% if user.verified %}
            <p>{{ comment.text }}</p>
            {% endif %}
        </div>
        {% endfor %}

        {%- if is_user -%}
        <script>
            function updateRating(stars) {
                $('#userRating span').removeClass('selected');
                $('#userRating span:lt(' + stars + ')').addClass('selected');
                $('#userRating').attr('data-rating', stars);
            }

            // Handle star clicks for user rating
            $('#userRating span').on('click', function() {
                let stars = $(this).index() + 1;
                updateRating(stars);
            });

            function submitReview() {
                let userReview = $("#userReview");
                let userReviewContent = userReview.text();
                let userRating = $('#userRating');
                let selectedRating = parseInt(userRating.attr('data-rating'));
                if (selectedRating === 0) {
                    show_popup("You must give at least 1 star");
                    return;
                }

                if (selectedRating == userRating.attr('data-last-rating') && userReviewContent == userReview.attr('data-last-review')) {
                    show_popup('Comment posted!');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '{{ url_for('post_comment', collection=collection, id=recipe_id) }}',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        rating: selectedRating,
                        text: userReviewContent
                    }),
                    success: function(response) {
                        userRating.attr('data-last-rating', selectedRating);
                        userReview.attr('data-last-review', userReviewContent);
                        show_popup('Comment posted!');
                    },
                    error: function(xhr, status, error) {
                        if (xhr.status == 429) {
                            show_popup('You are doing that too fast! Try again later...');
                        }
                        else {
                            try {
                                var errorResponse = JSON.parse(xhr.responseText);
                                $("#errors").html(`<p>${errorResponse.error}</p>`);
                            } catch (e) {
                                console.error("Error parsing JSON response:", e);
                                show_popup('There was a problem posting your review...');
                            }
                        }
                    }
                });
            }

            function deleteReview() {
                $.ajax({
                    type: 'DELETE',
                    url: '{{ url_for('delete_comment', collection=collection, id=recipe_id) }}',
                    contentType: 'application/json',
                    success: function(response) {
                        updateRating(0);
                        $('#userRating').attr('data-last-rating', 0);
                        $('#userReview').text('');
                        $('#userReview').attr('data-last-review', '');
                        show_popup('Comment deleted!');
                    },
                    error: function(error) {
                        if (xhr.status == 429) {
                            show_popup('You are doing that too fast! Try again later...');
                        }
                        else {
                            try {
                                var errorResponse = JSON.parse(xhr.responseText);
                                $("#errors").html(`<p>${errorResponse.error}</p>`);
                            } catch (e) {
                                console.error("Error parsing JSON response:", e);
                                show_popup('There was a problem deleting your review...');
                            }
                        }
                    }
                });
            }
        </script>
        {%- endif -%}
    </div>
{% endblock body %}
