<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{{ recipe['thumbnail'] or '/static/placeholder.jpg' }}">
    <title>{{ recipe["name"].title() }}</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/recipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/static/recipe.js"></script>
</head>

<body>
    <div class="recipe-details">
        <header>
            <div class="header">
                <img id="icon" src="/static/icon.png" alt="icon" onclick="window.location.href='{{ url_for('index') }}'">
                <h1>{{ recipe["name"].title() }}</h1>
            </div>
            <div class="buttons">
                <a href="{{ url_for('update_recipe_form', id=recipe_id) }}" class="round-button"><i class="fas fa-edit"></i></a>
                <a onclick="delete_recipe()" class="round-button"><i class="fas fa-trash"></i></a>
                <a onclick="share_recipe()" class="round-button"><i class="fas fa-share"></i></a>
            </div>
        </header>
        <img src="{{ recipe['thumbnail'] or '/static/placeholder.jpg' }}" onerror="this.onerror=null; this.src='/static/placeholder.jpg'" alt="Preview">

        {%- if recipe.get("url") is not none -%}
        <div class="recipe-info">
            <a class="original-url" href="{{ recipe['url'] }}" target="_blank">original recipe</a>
        </div>
        {%- endif -%}

        <div class="recipe-info">
            {%- if recipe.get("time") is not none -%}
            <div>
                <i class="fas fa-clock"></i> <span class="info-item">{{ recipe["time"] }} minutes</span>
            </div>
            {%- endif -%}
            {%- if recipe.get("people") is not none -%}
            <div>
                <i class="fas fa-users"></i> <span class="info-item">Serves {{ recipe["people"] }}</span>
            </div>
            {%- endif -%}
        </div>

        <h2>Ingredients</h2>
        <table class="ingredients">
            {%- for ingredient in recipe["ingredients"] -%}
            <tr><td>{{ (ingredient["amount"] or "")|capitalize }}</td><td>{{ ingredient["ingredient"]|capitalize }}</td></tr>
            {%- endfor -%}
        </table>

        <h2>Instructions</h2>
        <ol class="instructions">
            {%- for step in recipe["preparation"] -%}
            <li>{{ step }}</li>
            {%- endfor -%}
        </ol>

        {%- if recipe.get("remarks") is not none -%}
        {%- if recipe["remarks"].strip() -%}
        <h2>Remarks</h2>
        <p class="remarks">
            {{ recipe["remarks"]|capitalize }}
        </p>
        {%- endif -%}
        {%- endif -%}

        {%- if recipe.get("nutrition") is not none -%}
        <h2>Nutrition</h2>
        <table class="nutrition">
            {%- for group in recipe["nutrition"] -%}
            <tr><td>{{ group["group"]|capitalize }}</td><td>{{ group["amount"] }}</td></tr>
            {%- endfor -%}
        </table>
        {%- endif -%}
    </div>
</body>

</html>
