<link rel="stylesheet" href="/static/tags.css">

{% macro tags(meta) %}
<div class="tags">
    {%- if meta.language -%}
        <span class="tag searchable {{ meta.language }}">
            {{ LANGUAGES[meta.language]|capitalize }}
        </span>
    {%- endif -%}
    {%- if meta.cuisine != "other" -%}
        <span class="tag searchable">
            {{ meta.cuisine|capitalize }}
        </span>
    {%- endif -%}
    {%- if meta.meal_type != "other" -%}
        <span class="tag searchable">
            {{ meta.meal_type|capitalize }}
        </span>
    {%- endif -%}
    <span class="tag searchable {{ meta.meat_type[0] }}">
        {%- if meta.meat_type[0] == "other" -%}
            Other/mixed meat
        {%- else -%}
            {{ '/'.join(meta.meat_type)|capitalize }}
        {%- endif -%}
    </span>
    {%- if meta.carb_type[0] != "none" -%}
    <span class="tag searchable {{ meta.carb_type[0]|replace(' ', '-') }}">
        {%- if meta.carb_type[0] == "other" -%}
            Other carbs
        {%- else -%}
            {{ '/'.join(meta.carb_type)|capitalize }}
        {%- endif -%}
    </span>
    {%- endif -%}
    <span class="tag searchable {{ meta.temperature|replace(' ', '-') }}">
        {%- if meta.temperature == "any" -%}
            Any temperature
        {%- else -%}
            {{ meta.temperature|capitalize }}
        {%- endif -%}
    </span>
</div>
{% endmacro %}