.form-field {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.ingredient-row,
.preparation-row,
.nutrition-row,
.ingredient-header,
.preparation-header,
.nutrition-header,
.thumbnail-input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingredient-header,
.preparation-header,
.nutrition-header {
    justify-content: space-between;
}

.ingredient-row input,
.nutrition-row input,
.preparation-row textarea,
.thumbnail-input-row input {
    flex: 2 2;
    width: 100%;
}

.preparation-row textarea {
    resize: none;
}

.remarks {
    resize: vertical;
}

form button[type="submit"] {
    margin-top: 20px;
}

input[type="number"],
input[type="text"],
textarea,
select {
    font-family: Arial, sans-serif;
}

input[type="number"],
input[type="text"] {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
}

select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
}

.double-select {
    display: flex;
    align-items: stretch;
}

.double-select select {
    flex: 1;
}

textarea {
    font-family: Arial, sans-serif;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
}

#thumbnailPreview {
    width: 250px;
    max-width: 100%;
    height: auto;
}

button[type="submit"] {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: block;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

button[type="submit"]:hover {
    background-color: var(--blue-shade);
}

span.handle {
    width: 30px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}