
h1.unmade {
    color: red;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 7vw;
        line-height: normal !important;
    }

    h2 {
        font-size: 6vw;
    }
}

.recipe-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-info-detail {
    margin-top: 10px;
}

.recipe-info p {
    margin: 0;
}

.recipe-info i {
    margin-right: 5px;
}

.recipe-info .info-item {
    display: inline-block;
    margin-right: 10px;
}


.recipe-details {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

.recipe-details img {
    display: block;
    max-height: 50vh;
    max-width: 100%;
}

.recipe-container {
    margin: 0 auto;
}

.recipe-details h2 {
    margin-top: 20px;
}

h3.step-section-header {
    margin: 0;
}

.ingredients tr,
.instructions li {
    padding: 5px 0 5px 20px;
    position: relative;
}

.ingredient .ingredient-amount {
    font-weight: bold;
    text-align: right;
    padding: 8px 10px;
}

.ingredients tr.active,
.instructions li.active {
    background-color: var(--highlight);
}

.ingredients-wrapper {
    overflow-x: auto;
}

.ingredients {
    margin-left: 20px !important;  /* this is to make sure the bullet point shows up in the right position */
    border-spacing: 0;
    white-space: nowrap;
}

.ingredients td {
    padding: 5px;
}

.ingredients tr:not(.step-section-header-row) td:first-child:before {
    content: "\25B6";
    position: absolute;
    left: -20px;
}

.ingredient-conversion {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    background-color: lightgray;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 1em;
}

#people-amount {
    margin-right: 1ch;
}

.ingredient-conversion .people {
    display: flex;
    margin: auto 5px;
    font-weight: bold;
}

.instructions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table.nutrition td {
    border-bottom: 1px dashed;
}

table.nutrition {
    width: 100%;
}

a.original-url {
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
}

a.original-url:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .recipe-details {
        padding: 0 10px;
    }

    .recipe-info {
        flex-flow: column;
    }

    .ingredient-conversion {
        max-width: 100%;
    }
}

.review {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.review .review-date {
    position: absolute;
    right: 30px;
    top: 10px;
    color: #ccc;
}

.reviewer-name {
    font-weight: bold;
}

.reviewer-name.admin {
    font-weight: bolder;
    color: var(--blue);
}

user-reviewer-name.reviewer-name {
    margin-bottom: 0;
}

.star-rating {
    color: #ddd;
    font-size: 1.5em;
    margin: 0;
}

.star-rating .selected {
    color: black;
}

.user-review .star-rating.editing:hover {
    text-shadow: 0 0 10px black;
    cursor: pointer;
}

.user-review {
    display: flex;
    align-items: center;
}

.user-review .user-review-content {
    flex: 1;
}

.editable-review.editing {
    border: 1px solid #ddd;
}

.editable-review {
    padding: 10px;
    margin: 10px 0;
    outline: none;
    white-space: pre-wrap;
}

.user-review-controls {
    display: flex;
    flex-direction: column;
}

.user-review-controls .round-button {
    margin-bottom: 10px;
}

ref {
    text-decoration: underline;
    color: var(--blue-shade);
    font-weight: 600;
    cursor: pointer;
}

.modal table.conversion td, .modal table.conversion th {
    padding: 0 10px;
    text-align: left;
}

.modal table.conversion tr:nth-child(odd) {
    background-color: var(--highlight);
}
