

.recipe-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-info-detail {
    margin-top: 10px;
}

.recipe-info p {
    margin: 0;
}

.recipe-info i {
    margin-right: 5px;
}

.recipe-info .info-item {
    display: inline-block;
    margin-right: 10px;
}


.recipe-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

.recipe-details img {
    display: block;
    margin: 0 auto;
    max-height: 50vh;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .recipe-details {
        padding: 0 10px;
    }

    .recipe-info {
        flex-flow: column;
    }
}

.recipe-details h2 {
    margin-top: 20px;
}

.ingredients tr,
.instructions li {
    padding: 5px 0 5px 20px;
    position: relative;
}


.ingredients tr.active,
.instructions li.active {
    background-color: #adbbff;
}

.ingredients {
    margin-left: 20px !important;  /* this is to make sure the bullet point shows up in the right position */
    border-spacing: 0;
}

.ingredients td {
    padding: 5px;
}

.ingredients td:first-child:before {
    content: "\2022";
    position: absolute;
    left: -20px;
}

table.nutrition td {
    border-bottom: 1px dashed;
}

table.nutrition {
    width: 100%;
}

a.original-url {
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
}