.tags {
    margin: 5px 0;
    text-align: center;
}

.tag {
    display: inline-block;
    background-color: var(--blue);
    color: white;
    padding: 5px 10px;
    margin: 2px 2px;
    border-radius: 20px;
}

.tag.nl {
    background-color: var(--orange);
    color: #500101;
}

.tag.en {
    background-color: var(--blue);
    color: white;
}

.tag.chicken {
    background-color: #FFB6C1;
    color: black;
}

.tag.beef {
    background-color: #8B4513;
    color: white;
}

.tag.pork {
    background-color: #FF69B4;
    color: #1E1E1E;
}

.tag.fish {
    background-color: #00BFFF;
    color: #373737;
}

.tag.seafood {
    background-color: #8FBC8F;
    color: #373737;
}

.tag.vegetarian {
    background-color: #228B22;
    color: #040404;
}

.tag.other {
    background-color: #808080;
    color: #040404;
}

.tag.rice {
    background-color: #F5F5DC;
    color: black;
}

.tag.pasta {
    background-color: #FFD700;
    color: black;
}

.tag.potatoes {
    background-color: #8B4513;
    color: white;
}

.tag.sweet-potatoes {
    background-color: #FF6347;
    color: #1E1E1E;
}

.tag.bread {
    background-color: #D2B48C;
    color: #373737;
}

.tag.wraps {
    background-color: #FFDAB9;
    color: black;
}

.tag.legumes {
    background-color: #556B2F;
    color: white;
}

.tag.noodles {
    background-color: #FFFF66;
    color: black;
}

.tag.none {
    background-color: #000000;
    color: white;
}

.tag.warm {
    background-color: #ff4444;
    color: #500101;
}

.tag.cold {
    background-color: #00BFFF;
    color: #373737;
}

.tag.room-temperature {
    background-color: #8B4513;
    color: white;
}

.tag.any {
    background-color: #808080;
    color: #040404;
}
