{% set english = True %}

{% extends "base.html" %}

{% block head %}
    <title>Forgot Password</title>
    <link rel="stylesheet" href="static/login.css">
{% endblock head %}

{% block body %}
    <div class="login-container">
        <div class="login-box">
            <div class="header">
                <img id="icon" src="/static/icon.png" alt="icon" onclick="window.location.href='{{ url_for('index') }}'">
                <h1>Please Wait...</h1>
            </div>
            <p>{{ message }}</p>
        </div>
    </div>
{% endblock body %}
