{% set english = True %}

{% extends "base.html" %}

{% block head %}
    <title>Register</title>
    <link rel="stylesheet" href="static/box.css">
{% endblock head %}

{% block body %}
    <div class="center-container">
        <div class="center-box centering">
            <div class="header">
                {{ clickable_icon() }}
                <h1>Registered!</h1>
            </div>
            <p>Hi {{ username }}! Your account has been registered!</p>
        </div>
    </div>
{% endblock body %}
